.header {
  display: flex;
  width: 100%;
  padding: 16px 32px;
  align-items: center;
  gap: 32px;
  background: #000;
}

.logo {
  display: flex;
  width: 55.539px;
  height: 58px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logoutButton {
  display: flex;
  padding: 16px 24px;
  gap: 8px;
  border-radius: 28px;
  background: #CC0C00;
  color: white;
}

.loginButton:hover {
  background-color: #0056b3;
}

.headercontainer {
  display: flex;
  justify-content: flex-end; /* Align items to the right */
  padding: 10px; /* Optional: add padding if needed */
  width: 1200px;;
}

.contactus {
  display: flex;
  align-items: center;
  padding: 8px;
  color:#FFFFFF;
}

.useText {
  color: #FFF;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  /* 125% */
}

.leftHeader {
  display: flex;
  align-items: center;
  gap: 16px;
}