@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto:wght@400;700&display=swap');


@media screen and (max-width: 769px) {
  .headerContainer {
    display: flex;
    width: 100%;
    padding: 16px 32px;
    align-items: center;
    gap: 32px;
    background: #000;

    .logo {
      display: flex;
      width: 55.539px;
      height: 58px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .companyName {
      color: #FFF;
      font-family: Poppins;
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: 24px;
      display: none;
      /* 100% */
    }

    .leftBox {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 16px;
      flex: 1 0 0;
    }

    .contactUs {
      display: flex;
      align-items: center;
      padding: 8px;
      color: #FFFFFF;

      /* Regular Bold */
      font-family: Roboto;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: 24px;
      /* 150% */
    }

    .loginButton {
      display: flex;
      padding: 16px 20px;
      align-items: center;
      gap: 4px;
      border-radius: 28px;
      background: #CC0C00;
      color: #FFF;
      /* Regular Bold */
      font-family: Roboto;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: 24px;
      /* 150% */
    }
  }
}

.headerContainer {
  display: flex;
  width: 100%;
  padding: 16px 32px;
  align-items: center;
  gap: 32px;
  background: #000;

  .logo {
    display: flex;
    width: 55.539px;
    height: 58px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .companyName {
    color: #FFF;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    /* 100% */
  }

  .leftBox {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 16px;
    flex: 1 0 0;
  }

  .contactUs {
    display: flex;
    align-items: center;
    padding: 8px;
    color: #FFFFFF;
    /* Regular Bold */
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    /* 150% */
  }

  .loginButton {
    display: flex;
    padding: 16px 20px;
    align-items: center;
    gap: 4px;
    border-radius: 28px;
    background: #CC0C00;
    color: #FFF;
    /* Regular Bold */
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    /* 150% */
  }
}