.container {
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  background: url('/images/home_background.png');
}

.overlay {
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  background: rgba(0, 0, 0, 0.70);

}



/* Body.module.css */
.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  width: 100%;
  margin: 10 auto;
  /* This centers the container horizontally */
  height: 74vh;
  /* Optional: If you want to center vertically relative to the viewport height */
  justify-content: center;
  /* Centers the content vertically */
}

.bodyp {
  width: 940px;
  color: #F5F6F7;
  text-align: center;
  font-family: Poppins;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 50px;
}

.services {
  display: flex;
  width: 940px;
  padding: 40px;
  align-items: center;
  align-content: center;
  gap: 0px;
  background: #FFF;
}

.services2 {
  align-items: center;
  display: flex;
}

.svgImage {
  width: 48px;
  align-items: center;
  padding-left: 50px;
  height: 48px;
  flex-shrink: 0;
  stroke-width: 2px;
  stroke: #546E7A;
}

.servicesblock {
  display: flex;
  padding: 30px;
  padding-right: 30px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  border-right: 1px solid grey;
}

.servicesblock2 {
  display: flex;
  padding: 30px;
  padding-right: 30px;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  
}

.servicesblockheader {
  color: #000;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}

.servicesblockbody {
  color: #546E7A;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
}

.servicesfindoutmore {
  color: #CC0C00;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-decoration-line: underline;
}