.paymentContainer {
  display: flex;
  padding: 0px;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  background: #FFF;
  justify-content: center;
}

.paymentContainerHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
}

.paymentContainerHeaderText {
  color: #000;
  font-family: Poppins;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 42px;
}

.paymentContainerHeaderDetailText {
  color: #000;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.paymentContainerAmtHeader {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
}

.paymentContainerAmtHeaderText {
  color: #000;

  /* Regular Bold */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  /* 150% */
}

.paymentContainerAmtHeaderDetailText {
  color: #000;

  /* Regular */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  /* 150% */
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
}

.applicantDetails {
  display: flex;
  width: 1224px;
  padding: 40px;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
}

.applicantDetailsHeader {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
}

.applicantDetailsHeaderCard {
  display: flex;
  width: 1144px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
}

.applicantDetailsHeaderCardContent {
  display: flex;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  flex: 1 0 0;
  color: #000;
  font-family: Poppins;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 42px;
  /* 150% */
}

.applicantDetailsHeaderCardContentDetail {
  color: #000;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  /* 150% */
}

