@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto:wght@400;700&display=swap');

.mainContainer {
  background: #3e7fc1;
  flex-wrap: wrap;

  .container {
    display: flex;
    padding: 20px;
    flex-direction: column;
    align-items: start;
    gap: 8px;
    background: #546E7A;
  }

  .centerBox {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: #F5F6F7;
    justify-content: center;
    padding-top: 20px;
    align-items: center;
    padding-bottom: 20px;
    flex-wrap: wrap;

    .myApplication {
      display: flex;
      padding: 40px;
      flex-direction: column;
      align-items: flex-start;
      background: #FFF;
      flex-wrap: wrap;
      width: 90%;

      @media screen and (max-width: 769px) {
        padding: 20px;

      }

      .headerBox {
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-self: stretch;
        padding-bottom: 20px;
        flex-wrap: wrap;

        @media screen and (max-width: 769px) {
          display: flex;
          gap: 20px;
          align-items: center;
        }

        .primaryButton {
          padding: 16px 24px;
          align-items: flex-left;
          gap: 8px;
          border-radius: 28px;
          background: #CC0C00;

          @media screen and (max-width: 769px) {
            align-items: center;
            align-content: flex-start;
            gap: 8px;
            border-radius: 28px;
            background: #CC0C00;
            flex-wrap: wrap;
          }
        }
      }

      .recordContainer {
        display: flex;
        padding: 10px;
        flex-direction: column;
        align-items: center;
        gap: 24px;
        align-self: stretch;
        border: 1px solid #CFD8DC;
        background: #FFF;
        flex-wrap: wrap;

        @media screen and (max-width: 769px) {
          display: none
        }

        .hrBox {
          padding: 16px;
          align-items: center;
          gap: 24px;
          align-self: stretch;

          .hrLine {
            display: flex;
            height: 2px;
            justify-content: center;
            align-items: center;
            align-self: stretch;
            background: #D5D5D5;
          }
        }
        .item {
          padding-right: 20px;
          text-align: left;
          flex-wrap: wrap;
          width:20%;
          padding:10px;
        }
        .item1 {
          padding-right: 20px;
          text-align: left;
          flex-wrap: wrap;
          width:5%;
        }
        .item2 {
          padding-right: 20px;
          text-align: left;
          flex-wrap: wrap;
          width:10%;
        }
        .item3 {
          padding-right: 20px;
          text-align: left;
          flex-wrap: wrap;
          width:12%;
        }

        .collectionHeader {
          display: inline-flex;
          padding: 10px;
          align-items: center;
          text-align: left;
          flex-wrap: wrap;
          border-radius: 4px;
          background: #F5F6F7;
        }
      }

      .recordContainerMobile {
        display: none;
        border: 1px solid #CFD8DC;
        padding: 20px;

        @media screen and (max-width: 769px) {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 8px;
          align-self: stretch;
        }

        .item {
          display: flex;
          gap: 12px;
          flex-direction: row;
          flex-wrap: nowrap;
          justify-content: space-between;
          width: 100%;

          .cell {
            width: 50%;
            text-align: left;
          }
        }

        .collectionHeader {
          display: flex;
          flex-direction: column;
          padding: 12px 16px;
          align-items: flex-start;
          gap: 8px;
          border-radius: 4px;
          background: #F5F6F7;
        }
      }
    }


  }
}


.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.popupcontent {
  background: white;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  width: 300px;
}