.header {
  display: flex;
  width: 1440px;
  padding: 16px 32px;
  align-items: center;
  gap: 32px;
  background: #000;
}

.logo img {
  height: 40px;
  /* Adjust the size of the logo */
}

.loginButton {
  display: flex;
  padding: 16px 24px;
  gap: 8px;
  border-radius: 28px;
  background: #CC0C00;
}

.loginButton:hover {
  background-color: #0056b3;
}

.headercontainer {
  display: flex;
  justify-content: flex-end; /* Align items to the right */
  padding: 10px; /* Optional: add padding if needed */
  width: 1200px;;
}

.contactus {
  display: flex;
  align-items: center;
  padding: 8px;
  color:#FFFFFF;
}